#floating-comment-box {
    position: fixed;
    bottom: 80px;
    right: 40px;
    width: 600px;
    background-color: #0d1117;
    border: 1px solid #30363d;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 99999;
    border-radius: 6px;
    color: white;
}

#floating-header {
    background: #161b22;
    padding: 10px;
    cursor: move;
    font-weight: bold;
    border-bottom: 1px solid #30363d;
}
